body {
  font-family: monserrat;
  text-align: center;
}
.container-fluid {
  padding: 3% 15%;
}
h1 {
  font-family: montserrat;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}
/* Navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: ubuntu;
  font-size: 2.5rem;
  font-weight: bolder;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}
/* download button */
.download-btn {
  margin: 5% 3% 5% 0;
}
/* tittle image */
.tittle-img {
  width: 60%;
  transform: rotate(30deg);
  position: absolute;
}
#features {
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 7% 15%;
}

/* For the middle page */
.awesome {
  color: #ef8172;
  padding-top: 10rem;
  font-size: 5rem;
}
.awesome:hover {
  color: red;
}
.feature-p {
  color: #8f8f8f;
  font-size: 1rem;
  font-family: montserrat;
  font-weight: 400;
}
.middle-h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: montserrat;
  padding-top: 1.2rem;
}

/* Testimonial section */
#testimonials {
  background-color: #ef8172;
  color: white;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
h2 {
  font-family: montserrat;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-image {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

/* How to make your site responsive using the @media tag on css to either mobile or desktop, use the @media tag and write the specifications out like you do on normal css. */
@media (max-width: 1000px) {
  .tittle-img {
    position: static;
    transform: rotate(0);
  }
}

/* id section */
#cta {
  background-color: #ff4c68;
}
#last-h3 {
  font-family: montserrat;
  font-weight: 900;
  font-size: 80px;
  color: #fff;
  padding: 30px 20px 90px;
}

#footer {
  background-color: #fff;
}
.home {
  font-size: xx-large;
  margin: 20px;
}
#footer-p {
  font-size: large;
  color: #8f8f8f;
}

/* Its all done and this piece of work is inspire by Angela_yu */
